@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto-Slab, sans-serif;
    font-weight: 300;
    color: #742e2a;
    width: 80%;
    margin:0 auto;
    background-color: #f2f2f2;
}

/* headings and logo */

#header {
    height: 100px;
    margin-bottom: 10px;
}

h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #3a3a3a;
}

#logo {
    float: left;
    height: 100px;
}

/* nav menu styling */

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
 /* flex solution for automatically sequencing list items when using float right https://stackoverflow.com/questions/36251303/ordering-nav-list-items-when-using-float-right */  
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu, #logo {
    line-height: 90px;
}

#nav-menu a:hover {
    border-bottom: 1px solid #752e29;
}

.active {
    border-bottom: 1px solid #752e29;
}

/* Section Area Two Divs */

#main-body {
    background-color: green;
    height: 300px;
    overflow: hidden;
}

#left-window {
    float:left;
    width: 50%;
    background-color: red;
    box-sizing: border-box;
    padding: 10px;
    height: inherit;
    
}

#intro {
    text-align: center;
    height: 100%;
    border: 1px solid black;
}

#right-window {
    float:left;
    width: 50%;
    background-color: yellow;
    box-sizing: border-box;
    padding: 10px;
    height: inherit;
    

}

#slideshow {
    text-align: center;
    height: 100%;
    border: 1px solid black;
}


