@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto-Slab, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #742e2a;
    width: 70%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

hr {
    border: 1px lightgray solid;
    margin: 10px 0;
    color: #3a3a3a;
}

/* benefit bar */

#benefit-bar {
    background-color: #742e2a;
    height: auto;
    padding: 5px;
}

#benefit-bar p {
    color: #f2f2f2;
    text-align: center;
}

/* headings and logo */

#header {
    height: 100px;
    margin-bottom: 20px;
}

h1,
h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #3a3a3a;
}

#logo {
    float: left;
    height: 100px;
    margin: 10px 0;
}

/* nav menu styling */

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* flex solution for automatically sequencing list items when using float right https://stackoverflow.com/questions/36251303/ordering-nav-list-items-when-using-float-right */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-transform: uppercase;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu,
#logo {
    line-height: 110px;
}

#nav-menu a:hover {
    border-bottom: 1px solid #752e29;
}

.active {
    border-bottom: 1px solid #752e29;
}

/* Section Area Two Divs */

#main-body {
    background-color: #fff;
    height: 400px;
    overflow: hidden;
    margin-top: 30px;
}

#left-window {
    float: left;
    width: 50%;
    /*background-color: red;*/
    box-sizing: border-box;
    padding: 10px;
    height: inherit;

}

#intro {
    text-align: center;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#intro button {
    background-color: orange;
    border: 1px solid #3a3a3a;
    color: #f2f2f2;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;

}

#intro button {
    text-decoration: none;
    color: #752e29;
}

#intro button:hover {
    color: #fff;
}

#intro button:hover {
    background-color: green;
}

#right-window {
    float: left;
    width: 50%;
    /*background-color: yellow;*/
    box-sizing: border-box;
    padding: 10px;
    height: inherit;
}

#slide-show {
    overflow: hidden;
    text-align: center;
    height: 100%;
    box-sizing: border-box;

}


#slide-show figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slideshow infinite
}

#slide-show figure img {
    width: 20%;
    float: left;

}

@keyframes slide-show {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}