body {
    background:#f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.page-container {
    width: 70%;
    margin: 0 auto;
}

.header-container {
    width: 70%;
    margin: 0 auto;
    max-height: 100px;
    position: relative;
}

/* https://youtu.be/FEmysQARWFU Not sure if this is best practice to clean up codeof header */

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    max-width: auto;
    max-height: 100px;
    padding: 10px 0;

}

#top-nav nav {
    float: left;
}

#icons nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 50px;
    position:relative
}

nav a {
    color: #742e2a;
    text-decoration: none;
    text-transform: uppercase;
}

#bsk_icon {
    float: right;
    margin-right: 70px;
}

#phone_icon {
    float: right;
    margin-right: 20px;
}

#search_icon {
    float: right;
    margin-right: 20px;
}

nav a:hover {
    color: #000;
}

nav a:active {
    color: rgb(247, 7, 7);
}

/* search box tutorial and styling https://www.w3schools.com/howto/howto_css_searchbar.asp */
.header-container input [type=text] {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

}

/* body section */

.section-container {
    display: flex;
    margin: 0 auto;
    height: auto;
    position: relative;
}

.intro {
    background-color: red;
    float: left;
    padding: 5px;
    margin: 0;
    width: 50%;
}

.slideshow {
    background-color: yellow;
    float: right;
    padding: 5px;
    margin: 0;
    width: 50%;
}

/* Benefits Section */

#benefit-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    height: auto;
}

#benefits {
    height: 400px;
}

#benefits h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#left-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #742e2a;
    border-width: 1px;
    border-radius: 50%;
}

#left-circle {
    padding-top: 10px;
    float: left;
    width: 33%;
}

#left-circle-bg {
    background: url('../images/main-logo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#right-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #742e2a;
    border-width: 1px;
    border-radius: 50%;
}

#right-circle {
    padding-top: 10px;
    float: right;
    width: 33%;
}

#right-circle-bg {
    background: url('../images/main-logo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#middle-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #742e2a;
    border-width: 1px;
    border-radius: 50%;
}

#middle-circle {
    padding-top: 10px;
    float: left;
    width: 33%;
    
}

#middle-circle-bg {
    background: url('../images/main-logo.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* footer stuff */

.footer-container {
    margin: 0 auto;
    width: 70%;
}

.menu1 {
    float:left
}

.menu3 {
    margin: 0 auto;
}

.menu1 {
    float:left
}