body {
    background-color: #f2f2f2;
}

#header-container {
    max-width: 70%;
    height: 100px;
    margin: auto;
    background-color: red;  
}

#logo img {
    height: 100px;
    width: auto;
    float: left;
}

#main-nav {
    float: left;
    display: inline-block;
    vertical-align: middle;
    background-color: green;
    margin: 40px;
    text-decoration: none;
}

#main-nav a {
    text-decoration: none;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 50px;
}

#phone_icon {
    color:#742e2a;
    float: right;
    background-color: orange;
    margin: 40px 10px;
    font-size: x-large;
}

#bsk_icon {
      color:#742e2a;
      float: right;
      background-color: yellow;
      margin: 40px 10px;
      font-size: x-large;
}

